<h2>Listing of all flats</h2>

<ol>
  <% @flats.each do |flat|%>
    <li>
      <%= link_to flat['name'], flat_path(flat['id']) %>
      - <%= flat['price'] %> <%= flat['priceCurrency'] %>
    </li>
  <% end %>
</ol>
